@page
@{

}

@*<img asp-append-version="true" src="~/images/banner1.svg" />
    <img src="~/images/banner1.svg"/>*@

<pager path="/Article" pagePrivacy="2">2</pager>
@*<a href="/Article/Page-2">2</a>*@




