@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>小屿</h1>
        <p class="lead">孔雀东南飞，五里一徘徊。</p>
        <p>
            <a href="/Register" class="btn btn-primary btn-lg">
                Look more &raquo;
            </a>
        </p>
        @*<img src="~#" alt="显示失败 Text" title="显示文本" />*@
        <br />
    </div>
