
@{
    ViewBag.Title = "Download";
}
<div class="jumbotron">
    <a href="Download/Get">
        <input type="image" src="/Download/Get" alt="图片无法加载" title="点击下载图片" />
    </a>
    <br />
    <a href="/Register/Index">
        <img src="~/tupian.ico" alt="图片无法加载" title="点击去注册" />
    </a>
</div>
