<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header>大型秃头现场欢迎你</header>

    <div style="background-color:aquamarine">
        <section>
            @RenderSection("Ad", true)
        </section>
    </div>

    <section>
        @RenderSection("Add", true)
    </section>


    @RenderBody()
    <footer>开始你的秃头之路吧……</footer>

</body>
</html>


