@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>首页😊</title>
</head>
<body>
    <h1>首页 😀 </h1>
    <ul>
        <li><a href="/Login">登录</a></li>
        <li><a href="/Register">注册</a></li>
        <li><a href="/Contact">联系方式</a></li>
        <li><a href="/Personal">个人资料</a></li>
        <li><a href="/Question" target="_blank">常见问题</a></li>
    </ul>
    <div>
        <img src="~/images/求助.png" alt="求助logo" />
        <h2>一对一远程协助</h2>
        <p>帮忙就要帮到底</p>
        <a href="/Problem">求助</a>
    </div>

    <div>
        <img src="~/images/督促.png" alt="督促logo" />
        <h2>就让我来监督你</h2>
        <p>押上你的决心</p>
        <a href="/FAQ">监督</a>
    </div>

    <div>
        <img src="~/images/文章.png" alt="文章logo" />
        <h2>发布之前先付费</h2>
        <p>高质量内容的保证</p>
        <a href="/Article">文章</a>
    </div>
    <hr />

</body>
</html>


