@page
@model IndexModel

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />

    <title>首页😊</title>
    <style>
        div {
            border-top: 5px solid blue;
            border-left: 5px solid red;
            border-right: 5px solid yellow;
        }
    </style>

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


</head>
<body>
    <h1>首页 😀 </h1>
    <ul>
        <li><a href="/Login">登录</a></li>
        <li><a href="/Register">注册</a></li>
        <li><a href="/Contact">联系方式</a></li>
        <li><a href="/Personal">个人资料</a></li>
        <li><a href="/FAQ" target="_blank">常见问题</a></li>
    </ul>
    <div>
        <img src="~/images/求助.png" alt="求助logo" />
        <h2>一对一远程协助</h2>
        <p>帮忙就要帮到底</p>
        <a href="/Problem">求助</a>
    </div>

    <div>
        <img src="~/images/督促.png" alt="督促logo" />
        <h2>就让我来监督你</h2>
        <p>押上你的决心</p>
        <a href="/FAQ">监督</a>
    </div>

    <div>
        <img src="~/images/文章.png" alt="文章logo" />
        <h2>发布之前先付费</h2>
        <p>高质量内容的保证</p>
        <a href="/Article">文章</a>
    </div>
    <hr />


    <script>
        var greet = function (fg) {
            console.log("你好" + fg);
            return '你好'
        }
        var morning = greet;

        // 取最大值
        var number = [1, 22, 44, 123123, 23, 11, 33, 25];

        var maxValue = function () {
            var max = number[0];
            for (var i = 0; i < number.length - 1; i++) {
                if (max < number[i + 1]) {
                    max = number[i + 1];
                } else {
                    // 不予处理
                }
            }
            return max;
        }
        console.log(maxValue());


        // 留给晚上的作业, 冒泡排序


        //var num = prompt("请输出一个大于1的值");

        //alert(num);

        var xy = {
            name:'小屿',
            age: 18,
            major: 'C#',
        };
        var arr = [1, 2, 3, '上课', '睡觉', '打豆豆'];
        for (var i in xy) {
            console.log(xy[i]);
        }

        for (var i = 0; i < length; i++) {

        }

    </script>

</body>
</html>


