@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>首页😊</title>
</head>
<body>
    <h1>首页 😀 </h1>
    <br />
    <a href="/Login">登录</a>
    <br />
    <a href="/Register">注册</a>
    <br />
    <img src="~/images/求助.png" alt="图片无法加载" />
    <h2>一对一远程协助</h2>
    <p>帮忙就要帮到底</p>
    <a href="/Problem">求助</a>
    <hr />

    <img src="~/images/督促.png" alt="图片无法加载" />
    <h2>就让我来监督你</h2>
    <p>押上你的决心</p>
    <a href="/Supervision">监督</a>
    <hr />

    <img src="~/images/文章.png" alt="图片无法加载" />
    <h2>发布之前先付费</h2>
    <p>高质量内容的保证</p>
    <a href="/Article">文章</a>
    <hr />

    <a href="/Question">常见问题</a>
    <hr />

</body>
</html>


