@page
@model FrontEnd.Pages.PersonalModel

<!DOCTYPE html>
<html>
<head>
    <title>个人资料</title>
</head>
<body>
    <h2>个人资料</h2>
    <hr />
    <form method="post">
        <div>
            <label>头像：（* 仅限jpg/png/gif）</label>
        </div>
        <div>
            <input type="text" placeholder="上传图片" />
            <span>
                <input type="file" accept="image/*" value="浏览" style="width:70px" />
            </span>
        </div>
        <div>
            <label><input type="radio" name="gender" value="男" checked="checked"/>男</label>
            <label><input type="radio" name="gender" value="女" />女</label>
        </div>
        <div>
            <label>生日:</label>
            <br />
            <select>
                <option> -- </option>
            </select>
            <span>年</span>
            <select>
                <option> -- </option>
            </select>
            <span>月</span>
            <select>
                <option> -- </option>
            </select>
            <span>日</span>
        </div>
        <div>
            <label>关键字：（* 使用空格分隔）</label>
            <br />
            <span>--1级--</span>
            <select style="width:30px">
                <option></option>
                <option>编程开发语言</option>
            </select>
            <span>--2级--</span>
            <select style="width:30px">
                <option></option>
                <option>C#</option>
            </select>
            <input type="text" style="width:80px" placeholder="自定义关键字 " />
        </div>
        <div>
            <label>自我介绍：</label><br />
            <textarea placeholder="简单的介绍下自己吧~" maxlength="255" style="height:250px" ></textarea>
        </div>
        <input type="submit" value="提交" />
    </form>
    <div>
        <a href="/Index">回到首页</a>
    </div>
    <div>
        <h3>说明</h3>
        <ol>
            <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
            <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
            <li>自我介绍的字数不要超过255字。</li>
        </ol>
    </div>
</body>
</html>


