@page
@model FrontEnd.Pages.RegisterModel

<!DOCTYPE html>
<html>
<head>
    <title>注册🙈</title>
</head>
<body>
    <h2>注册</h2>
    <form method="post">
        <label>用户名：</label><input type="text" name="username" placeholder="输入用户名"/>
        <br />
        <label>密码：</label><input type="password" name="password" placeholder="密码"/>
        <br />
        <label><input type="radio" name="gender" value="男" checked="checked" />男</label>
        <label><input type="radio" name="gender" value="女" />女</label>
        <br />
        <input type="submit" value="注册" />
        <button type="reset">重置</button>
    </form>
</body>
</html>



